*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin: 1.4rem auto;
}
header > h1:first-child{
    font-weight: 200;
    color: hsl(212, 6%, 44%);
}
header>h1:last-child{
    color: hsl(234, 12%, 34%);
}
header>p{
    color: hsl(212, 6%, 44%);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 20px;
}

main>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 10px 0px;
}
.sect-1{
    border-top: 4px solid hsl(180, 62%, 55%);

}
.sect-2{
    border-top: 4px solid hsl(0, 78%, 62%);
}
.sect-3{
    border-top: 4px solid hsl(34, 97%, 64%);
}
.sect-4{
border-top: 4px solid hsl(212, 86%, 64%);
}

/* content inside the section */
section>h3 {
    margin: 10px 0px;
    color: hsl(234, 12%, 34%);
}

section>div {
    align-self: flex-end;
    margin-top: 3rem;
}

img {
    display: block;
}
section > p{
    color: hsl(212, 6%, 44%);
}

/* Responsive adjustments */
@media (max-width: 1150px) {
    main {
        flex-direction: column;
    }

    main>div {
        flex-direction: row;
    }
}

@media (max-width: 850px) {
    main>div {
        flex-direction: column;
    }
}